{
	"youtube_key": "",
	"factorio_username": "Trangar",
	"factorio_key": "",
	"wolframalpha": "",
	"servers": [{
		"nickname": "TrangarBot",
		"host": "irc.esper.net",
		"channels": [
			"#trangarbot",
			"#factorio"
		],
		"factorio_channel": "#factorio",
		"password": ""
	}]
}
